body {
  background: gray;
  font-family: "opensans", "Arial", "Serif";
}

@font-face {
	font-family: "opensans";
	src: url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "opensansbold";
	src: url("../fonts/opensansbold.woff2") format("woff2"),
	url("../fonts/opensansbold.woff") format("woff");
}

@import "blocks/page-header.scss";
@import "blocks/handmade.scss";
