.about-us {
  background-color: $body-bg;
  width: 100%;

    h2 {
      font-size: 25px;
      line-height: 30px;
      @include side-margin;
    }
    ul {
      padding-left: 0;
      @include side-margin;
    }
    li {
      font-size: 17px;
      list-style-type: none;
    }
}

.about-us__wrapper {
  @include container;
  background-color: #fafafa;
}

@media #{$tablet-widths} {
  .about-us ul {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us li {
    width: 334px;
  }
}

// не перестраиваются в две колонки
@media #{$desktop-widths} {
  .about-us {
    h2 {
      padding-left: 175px;
    }
    ul {
      padding-left: 175px
    }
    li {
      width: 350px;
    }
  }
}
