.about-us {
  background-color: $body-bg;
  width: 100%;
  margin-bottom: 30px;

    h2 {
      font-size: 25px;
      line-height: 30px;
      margin-top: 70px;
      margin-bottom: 30px;
      @include side-margin;
    }
    ul {
      padding-left: 0;
      @include side-margin;
    }
    li {
      font-size: 17px;
      list-style-type: none;
      font-weight: bold;
      // height: 92px;
      min-height: 92px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 25px;
    }

      span {
        margin: 0;
      }
      svg {
      fill: $light-green;
      margin-bottom: 25px;
      }
}

.about-us__wrapper {
  @include container;
}

@media #{$tablet-widths} {

  .about-us {
      h2 {
        margin-top: 91px;
        margin-bottom: 0;
        font-size: 43px;
        line-height: 50px;
      }
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 600px;
        min-height: 490px;
        max-height: 600px;
        box-sizing: border-box;
      }
      li {
        max-width: 250px;
        padding-top: 28px;
        margin-right: 85px;
      }
  }
}

// не перестраиваются в две колонки
@media #{$desktop-widths} {
  .about-us {
    h2 {
      padding-left: 175px;
    }
    ul {
      padding-left: 175px
    }
    li {
      width: 350px;
    }
  }
}
