.about-us {
  background-color: $body-bg;
  width: 100%;

    h2 {
      font-size: 25px;
      line-height: 30px;
    }
    ul {
      padding-left: 0;
    }
    li {
      font-size: 17px;
      list-style-type: none;
    }
}

.about-us__wrapper {
  @include container;
}
