.catalog-items {
  background-color: $body-bg;
  width: 100%;
}

.catalog-items__wrapper {
  @include container;
}

.catalog-items__item {

    h1 {
      font-size: 17px;
      line-height: 24px;
    }
    span {
      display: block;
    }
}

.catalog-items__item--characteristics {
  font-size: 13px;
  line-height: 30px;
}

.catalog-items__item--price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
