.catalog-items {
  background-color: $body-bg;
  width: 100%;
}

.catalog-items__title-wrapper {
  @include container;
}

.catalog-items__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
}

.catalog-items__title {
  background-color: #f1f1f1;
    h1 {
      text-align: center;
      font-size: 27px;
      line-height: 30px;
      padding-top: 45px;
      padding-bottom: 60px;
      margin-bottom: 46px;
    }
  }

.catalog-items__item {
  border: 1px solid #ececec;
  margin-bottom: 31px;
  @include side-margin;
    h1 {
      font-size: 17px;
      line-height: 24px;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 20px;
      margin-bottom: 6px;
    }
    span {
      display: block;
      // padding-left: 30px;
      margin-left: 25px;
      margin-right: 25px;
    }
    svg {
      margin-left: 111px;
    }
}

.catalog-items__item--characteristics {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 20px;
}

.catalog-items__item--price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  border-top: 1px solid #ececec;
  padding-top: 19px;
  padding-bottom: 26px;
  position: relative;
}

@media #{$tablet-widths} {
  .catalog-items__title h1 {
    font-size: 43px;
    line-height: 50px;
    padding-top: 97px;
    padding-bottom: 77px;
    margin-bottom: 81px;
  }

  .catalog-items__item {
    display: flex;
    margin-bottom: 50px;
      h1 {
      font-size: 20px;
      line-height: 24px;
      margin-top: 25px;
      }
  }
  .catalog-items__photo {
    // min-width: 334px;
    // max-width: 334px;
    // min-height: 334px;
    // max-height: 334px;
    line-height: 0;
  }
  .catalog-items__info {
    min-width: 334px;
    max-width: 334px;
  }

  .catalog-items__item--characteristics {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 174px;
  }

  .catalog-items__item--price {
    font-size: 17px;
    line-height: 24px;
    padding-right: 200px;
    padding-bottom: 0;
    padding-top: 22px;
    padding-bottom: 20px;

      svg {
        padding: 0;
        margin: 0;
        // margin-left: 255px;
        // padding-top: 0;
        position: absolute;
        left: 255px;
        top: 22px;
      }
  }
}

@media #{$desktop-widths} {
  .catalog-items__title h1 {
    font-size: 53px;
    line-height: 57px;
    padding-top: 95px;
    padding-bottom: 100px;
    margin-bottom: 130px;

  }
  .catalog-items__wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .catalog-items__item {
    flex-direction: column;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 57px;
  }

  .catalog-items__item:nth-child(1) {
    margin-left: 0;

  }
  .catalog-items__item:nth-child(3) {
    margin-right: 0;
  }

  .catalog-items__photo {
    min-width: 315px;
    max-width: 315px;
  }
  .catalog-items__info {
    min-width: 315px;
    max-width: 315px;
  }

  .catalog-items__item--characteristics {
    margin-bottom: 40px;
  }

  .catalog-items__item--price {
    padding-right: 0;
    padding-left: px;
  }
}
