.handmade {
  background-color: $body-bg;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;

    h1 {
      font-size: 27px;
      line-height: 30px;
      text-align: center;
      margin: 0;

      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }
}

.handmade__stuff {
    h2 {
      margin: 0;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 130px;
    }
    a {
      color: $white;
      text-decoration: none;
    }
}

.handmade__stuff--light-green {
  background-color: $light-green;
}

.handmade__stuff--dark-green {
  background-color: $dark-green;
}
