.handmade {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 480px;

    h1 {
      font-size: 27px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      margin: 0;
      margin-top: 93px;
      margin-left: 38px;
      margin-right: 38px;
      margin-bottom: 122px;
    }
}

.handmade__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("../../img/hero-mobile@1x.jpg");
  @media
  (min-resolution: 1.5dppx),
  (min-resolution:144dpi) {
      background-image: url("../../img/hero-mobile@2x.jpg");
    }
  background-position: 50% 21% ;
  background-repeat: no-repeat;
}

.handmade__stuffs {
  display: flex;
  flex-direction: column;
}

.handmade__stuff {
  min-width: 320px;

    h2 {
      font-size: 19px;
      line-height: 24px;
      margin: 0;
      padding-top: 25px;
      padding-bottom: 30px;
      padding-left: 30px;
      width: 130px;
    }
    a {
      color: $white;
      text-decoration: none;
    }
    &--light-green {
      background: $light-green;
      position: relative;
        svg {
          display: inline;
          fill: #149080;
          opacity: 0.5;
          position: absolute;
          top: 23px;
          right: 36px;
        }
    }
    &--dark-green {
      background-color: $dark-green;
      position: relative;
        svg {
          fill: #149080;
          opacity: 0.5;
          position: absolute;
          top: 20px;
          right: 26px;
        }
    }
}

@media #{$tablet-widths} {
  .handmade {
    // min-height: 746px;
    min-height: 744px;

      h1 {
        font-size: 43px;
        line-height: 50px;
        margin-top: 155px;
        // margin-bottom: 375
      }
  }

  .handmade__wrapper {
    background-image: url("../../img/hero-desktop@1x.jpg");
    @media
    (min-resolution: 1.5dppx),
    (min-resolution:144dpi) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }
  .handmade__stuffs {
    flex-direction: row;
    width: 100%;
    min-height: 117px;
  }

  .handmade__stuff {
    width: 334px;

      h2 {
      font-size: 20px;
      line-height: 30px;
      }
      &--light-green {
        margin-left: 50px;
         svg {
           top: 30px;
         }
      }
      &--dark-green {
        margin-right: 50px;
        svg {
          top: 31px;
          right: 34px;
        }
      }
  }
}

@media #{$desktop-widths} {
  .handmade {
      h1 {
        font-size: 53px;
        line-height: 57px;
        margin-left: 240px;
        margin-right: 240px;
      }
  }
  .handmade__stuff {
    min-width: 525px;
  }
}
