.knitting-order-form {
  background-color: $body-bg;
  width: 100%;

    h2 {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 32px;
      text-transform: uppercase;
      position: relative;
    }
    h2:after {
      display: table;
      content: "";
      height: 2px;
      width: 198px;
      background-color: $light-green;
      position: absolute;
      bottom: 10px;
      left: 60px;
    }
    label {
      font-size: 17px;
      line-height: 18px;
    }
}

.knitting-order-form__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
}

.knitting-order-form__title {
  @include side-margin;
}
.knitting-order-form__type {
  display: flex;
}

.knitting-order-form__btn-type {
  @include side-margin;
    label {
      display: block;
      margin-top: 30px;
      padding-left: 63px;
      position: relative;
    }

    input[type="radio"] + label:before {
      display: table;
      content: "";
      position: absolute;
      left: 0px;
      top: -9px;

      width: 35px;
    	height: 35px;
    	border: 2px solid black;
    	-moz-border-radius: 50px;
    	-webkit-border-radius: 50px;
    	border-radius: 50px;
    }
    input[type="radio"]:checked + label:before {
      background-image: url("../img/point.png");
      background-repeat: no-repeat;
      background-position: 50%;
    }
    input {
      display: none;
    }
}

// Цвет
.knitting-order-form__color {
  display: flex;
  flex-direction: column;
    h2 {
      margin-bottom: 30px;
    }
}
.knitting-order-form__color-items {
  @include side-margin;
}
.knitting-order-form__color-item {
  display: block;
  align-self: baseline;
  padding-bottom: 34px;
    label {
      padding-left: 36px;
      padding-left: 63px;
      position: relative;
    }
    label:before {
      display: table;
      content: "";
      position: absolute;
      top: -9px;

      width: 36px;
    	height: 35px;
    	border: 2px solid black;
    }
    input[type="checkbox"]:checked + label:before {
      background-image: url("../img/sprite_svg/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 70%;
    }
    input {
      display: none;
    }
}

// имя
.knitting-order-form__name {
  display: flex;
    h2 {
      margin-top: 0;
      margin-bottom: 9px;
    }
    label {
      display: block;
      width: 100%;
      padding-top: 22px;
      font-size: 17px;
      line-height: 18px;
      font-weight: bold;
    }
}
.knitting-order-form__name-btn {
  @include side-margin;
    input {
      min-width: 260px;
      max-width: 260px;
      height: 46px;
      padding-bottom: 3px;
      border: 0;
      border-bottom: 2px solid black;
    }
    ::-webkit-input-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    ::-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    :-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    :-ms-input-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
}

// телефон
.knitting-order-form__phone {
  display: flex;
  flex-direction: column;
  margin-top: 27px;

    label {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
    }
    label:after {
      display: table;
      content: "";
      height: 2px;
      width: 198px;
      background-color: $light-green;
      position: absolute;
      bottom: 10px;
      left: 60px;
    }
}

.knitting-order-form__phone-btn {
  position: relative;
    input {
      @include side-margin;
      min-width: 260px;
      max-width: 260px;
      height: 51px;
      border: 0;
      border-bottom: 2px solid black;
      padding-top: 2px;
      padding-bottom: 0px;
      position: relative;
    }
    ::-webkit-input-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    ::-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    :-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    :-ms-input-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    svg {
      position: absolute;
      right: 38px;
      top: 14px;
    }
}

.knitting-order-form__e-mail {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  position: relative;
    label {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
    }
    label:after {
      display: table;
      content: "";
      height: 2px;
      width: 180px;
      background-color: $light-green;
      position: absolute;
      bottom: 10px;
      left: 80px;
    }

}

.knitting-order-form__e-mail-btn {
  position: relative;

    input {
      @include side-margin;
      min-width: 260px;
      max-width: 260px;
      border: 0;
      border-bottom: 2px solid black;
      padding-top: 15px;
      padding-bottom: 12px;
      position: relative;
    }
    ::-webkit-input-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    ::-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    :-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    :-ms-input-placeholder {
      font-size: 17px;
      line-height: 18px;
    }
    svg {
      position: absolute;
      top: 50px;
      right: 115px;
    }
}


.knitting-order-form__more {
  display: flex;
  margin-top: 25px;
    label {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      width: 100%;
      text-transform: uppercase;
      position: relative;
    }
    label:after {
      display: table;
      content: "";
      height: 2px;
      width: 198px;
      background-color: $light-green;
      position: absolute;
      bottom: 10px;
      left: 60px;
    }
    textarea {
      font-size: 17px;
      line-height: 18px;
      min-width: 239px;
      max-width: 239px;
      max-height: 125px;
      border: 2px solid black;
      @include side-margin;
      padding-top: 11px;
      padding-left: 15px;
      margin-top: 30px;
      margin-bottom: 2px;
    }
}

.knitting-order-form__order {
  display: flex;
  flex-wrap: nowrap;
}

.knitting-order-form__info {
  span {
    font-size: 10px;
    line-height: 5.24px;
    margin-left: 27px;
    margin-right: 30px;
  }
}

.knitting-order-form__order-button {
  margin-top: 19px;
}

.knitting-order-form__order-btn {
  color: $black;
  background-color: $body-bg;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $black;
  display: block;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 45px;
  padding-right: 54px;
  @include side-margin;
  margin-bottom: 55px;
}

@media #{$tablet-widths} {
  .knitting-order-form {
    h2:after {
      display: none;
    }
    label {
      font-size: 19px;
      line-height: 18px;
      font-weight: bold;
    }
  }
  .knitting-order-form__wrapper {
    flex-direction: row;
  }
  .knitting-order-form__type {
    flex-direction: row;
    align-items: baseline;
    margin-top: 50px;
    padding-bottom: 45px;
  }
  .knitting-order-form__btn-type {
    margin-left: 0;

    label {
      display: block;
      margin-top: 32px;
      padding-left: 81px;
      position: relative;
      font-weight: bold;
      padding-bottom: 26px;
    }
    input[type="radio"] + label:before {
      top: -14px;
      width: 48px;
      height: 48px;
    }
    input[type="radio"]:checked + label:before {
      background-size: 45%;
    }
  }
  .knitting-order-form__title {
    min-width: 167px;
    margin-right: 0;
  }
  .knitting-order-form__color {
    flex-direction: row;
    align-items: baseline;
    background-color: #f1f1f1;
    padding-top: 72px;
    padding-bottom: 24px;
      h2 {
        margin-top: 0px;
      }
  }
  .knitting-order-form__color-items {
    display: flex;
    flex-direction: row;
    min-width: 700px;
    max-width: 700px;
    flex-wrap: wrap;
    margin-left: 0;
    min-height: 230px;
  }
  .knitting-order-form__color-item {
    flex-direction: row;
    flex-wrap: wrap;
    width: 262px;
    min-width: 262px;
    max-width: 262px;

    label {
      padding-left: 36px;
      padding-left: 82px;
      position: relative;
    }
    label:before {
      display: table;
      content: "";
      position: absolute;
      top: -12px;

      width: 50px;
      height: 48px;
      border: 2px solid black;
    }
    input[type="checkbox"]:checked + label:before {
      background-image: url("../img/sprite_svg/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 70%;
    }
  }
  .knitting-order-form__name {
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 22px;
      h2 {
        margin-top: 19px;
      }
  }
  .knitting-order-form__name-btn {
    margin-left: 0;
  }
  .knitting-order-form__names {
    display: flex;
    margin-bottom: 18px;
      label {
        // min-width: 50px;
        // max-width: 50px;
        margin-right: 35px;
      }
      input {
        min-width: 360px;
        max-width: 360px;
        height: 40px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 6px;
      }
      ::-webkit-input-placeholder {
        font-size: 19px;
        line-height: 18px;
      }
      ::-moz-placeholder {
        font-size: 19px;
        line-height: 18px;
      }
      :-moz-placeholder {
        font-size: 19px;
        line-height: 18px;
      }
      :-ms-input-placeholder {
        font-size: 19px;
        line-height: 18px;
      }
  }
  .knitting-order-form__phone {
    background-color: #f1f1f1;
    padding-top: 65px;
    padding-bottom: 35px;
      label {
        padding-top: -5px;
      }
      label:after {
        display: none;
      }
  }

  .knitting-order-form__phone-btn {
    input {
      margin-left: 0px;
      margin-top: -10px;
      padding-top: 0px;
      padding-bottom: 4px;
      padding-left: 18px;
      background-color: #f1f1f1;
      min-width: 483px;
      max-width: 483px;
      height: 40px;
    }
    svg {
      right: 75px;
      top: 0;
    }
  }
  .knitting-order-form__e-mail {
    background-color: #f1f1f1;
    margin-top: 0;
    padding-bottom: 67px;
      label:after {
        display: none;
      }
  }

.knitting-order-form__e-mail-btn {
  input {
    margin-left: 0;
    margin-top: -7px;
    padding-left: 15px;
    background-color: #f1f1f1;
    min-width: 486px;
    max-width: 486px;
    padding-top: 0px;
    padding-bottom: 5px;
    height: 40px;
  }
  svg {
    top: 5px;
    right: 70px;
  }
}
  .knitting-order-form__more {
    padding-top: 50px;

      label:after {
        display: none;
      }
  }
  .knitting-order-form__more-btn {
    textarea {
      margin-left: 0;
      margin-top: -11px;
      min-width: 480px;
      max-width: 480px;
    }
  }
  .knitting-order-form__info {
    padding-top: 55px;
    span {
      font-size: 17px;
      line-height: 30px;
      margin-left: 65px;
    }
  }
  .knitting-order-form__order-button {
    order: -1;
    margin: 0;
    margin-top: 45px;
    padding-bottom: 52px;
  }
  .knitting-order-form__order-btn  {
    padding-left: 27px;
    padding-right: 43px;
    margin-bottom: 0;
  }
}


@media #{$desktop-widths} {
  .knitting-order-form__title {
    width: 175px;
  }
}
