.knitting-order-form {
  background-color: $body-bg;
  width: 100%;

    h2 {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
    }
    label {
      font-size: 17px;
      line-height: 18px;
    }
}

.knitting-order-form__wrapper {
  @include container;
  background-color: #555;
  display: flex;
  flex-direction: column;

}

.knitting-order-form__type {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.knitting-order-form__btn-type {
  flex-direction: column;
  flex-wrap: wrap;
    label {
      display: block;
      width: 100%;
    }
}

.knitting-order-form__name {
    label {
      display:block;
    }
}

.knitting-order-form__phone {
    label {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      width: 100%;
    }
    input {
      width: 100%;
    }
}

.knitting-order-form__e-mail {
    label {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      width: 100%;
    }
    input {
      width: 100%;
    }

}

.knitting-order-form__more {
    label {
      color: $light-green;
      font-size: 17px;
      font-weight: bold;
      width: 100%;
    }
    textarea {
      font-size: 17px;
      width: 100%;
    }
}

.knitting-order-form__order {

    span {
      font-size: 14px;
    }
}

.knitting-order-form__order-btn {
  color: $black;
  background-color: $body-bg;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: 2px solid $black;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media #{$tablet-widths} {
  .knitting-order-form__type {
    flex-direction: row;
  }
}

@media #{$desktop-widths} {

}
