.modal-add-to-cart {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
    h1 {
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }
    label {
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      display: block;
    }
}

.modal-add-to-cart__add-btn {
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  background-color: #63d1bb;
  border: 2px solid #63d1bb;
  display: block;
  width: 100%;
}
