.page-footer {
  background-color: $gray-bg;
  width: 100%;
}

.page-footer__wrapper {
  @include container;
  background-color: #444;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}
.page-footer__social {

    li {
      list-style-type: none;
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
}

.page-footer__made-by {

    span {
      font-size: 19px;
      font-weight: bold;
    }
}

@media #{$tablet-widths} {
  .page-footer__logo {
    display: flex;
  }
  .page-footer__wrapper {
    flex-direction: row;
  }
}
