.page-header {
  background-color: $body-bg;
  display: flex;
  justify-content: flex-end;
  @include container;
}

.page-header__menu--close {
  display: block;
  content: "";
  background-image: url(../img/icon-menu-open.svg);
  background-repeat: no-repeat;
}

.page-header__menu--open {
  display: none;

    li {
      list-style-type: none;
      margin-left: 0;
    	padding-left: 0;
    }
    a {
      text-decoration: none;
      font-size: 17px;
      line-height: 24px;
    }
}
