.page-footer {
  background-color: $gray-bg;
}

.page-footer__social {

    li {
      list-style-type: none;
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
}

.page-footer__made-by {

    span {
      font-size: 19px;
      font-weight: bold;
    }
}
