.page-header {
  background-color: #ffffff;
}

.page-header__menu--close {
  display: block;
  content: "";
  padding: 20px;
  background-image: url(../img/icon-menu-open.svg);
  background-repeat: no-repeat;
  // background-position: 0px 0px;
}

.page-header__menu--open li {
  list-style-type: none;
  margin-left: 0;
	padding-left: 0;
    a {
      text-decoration: none;
    }
}
