.production-process {
  background-color: $body-bg;
  padding-bottom: 30px;
  width: 100%;

    h2 {
      font-size: 17px;
      line-height: 24px;
      padding-left: 90px;
      padding-top: 30px;
      padding-bottom: 30px;
      @include side-margin;
    }
    p {
      font-size: 13px;
      line-height: 24px;

      padding-top: 30px;
      padding-bottom: 30px;
      @include side-margin;
    }
}

.production-process__wrapper {
  @include container;
  position: relative;
  background-color: #f2f2f2;
}

.production-process__order-btn {
  color: $black;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: 2px solid $black;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media #{$tablet-widths} {
  .production-process__wrapper {
    display: flex;
    flex-direction: column;
      video {
      order: -1;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
    margin-left: 42px;
  }
  p {
    font-size: 15px;
    line-height: 30px;
    margin-left: 42px;
  }
  .production-process__order-btn {
    margin-left: 42px;
    margin-right: 42px;
  }
}

// доделать
@media #{$desktop-widths} {
  .production-process__wrapper {
      video {
      position: absolute;
    }
      h2 {
        margin-left: 762px;
      }
      p {
        margin-left: 762px;
      }
      a {
        margin-left: 762px;
      }
  }
}
