.reviews {
  background-color: $body-bg;
  width: 100%;


    h2 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 40px;
      @include side-margin;
    }
}

.reviews__wrapper {
  @include container;
  position: relative;
}

.reviews__add-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.reviews__nav {
  border: 1px solid #ececec;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 80px;
}

@media #{$tablet-widths} {
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url("../../img/review@1x.jpg");
    @media
    (min-resolution: 1.5dppx),
    (min-resolution:144dpi) {
        background-image: url("../../img/review@2x.jpg");
      }
  }
  .reviews__nav {
    position: absolute;
    bottom: -40px;
    right: 30px;
  }

  .reviews__add-btn {
    width: 175px;
    position: absolute;
    top: 0px;
    right: 30px;
  }
}

@media #{$desktop-widths} {

}
