.review {
  width: 100%;

  h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
    @include side-margin;
  }
    p {
      font-size: 15px;
      line-height: 30px;
      @include side-margin
      margin-bottom: 25px;
    }
    .review__author {
      font-size: 18px;
      font-weight: bold;
      @include side-margin;
    }
    .review__author-contact {
      font-size: 18px;
      display: block;
      @include side-margin;
      margin-top: 5px;
      margin-bottom: 40px;
    }
}

.review__wrapper {
  @include container;
}

@media #{$tablet-widths} {
  .review {
    min-height: 490px;

      h2 {
        font-size: 43px;
        line-height: 50px;
        margin-left: 49px;
        margin-top: 75px;
        margin-bottom: 50px;
      }
      p {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 55px;
      }
  }
}

@media #{$desktop-widths} {
  .review {
    min-height: 497px;
      h2 {
        padding-left: 175px;
      }
      p {
        padding-left: 175px;
        margin-bottom: 38px;
    }
  }
  .reviews__item {
      span {
        padding-left: 175px;
      }
  }
}
