.review {
  @include container;

    p {
      font-size: 15px;
      line-height: 30px;
    }
}

.review__author {
  font-size: 18px;
  font-weight: bold;
}

.review__author-contact {
  font-size: 18px;
}

.reviews__add-btn {
  color: $black;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid $black;
  display: block;
}
