.weekly-product {
  background-color: $body-bg;
  padding-left: 30px;
  padding-right: 30px;
  @include container;

    h2 {
      font-size: 25px;
      line-height: 30px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
    }
}

.weekly-product__title {
  color: $light-green;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
}

.weekly-product__characteristics {
  font-size: 15px;
  line-height: 20px;
}

.weekly-product__photo {
  margin-left: 0;
}

.weekly-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.weekly-product__order-btn {
  color: $black;
  font-size: 17px;
  // line-height: 24px;
  text-align: center;
  text-decoration: none;
  border: 2px solid $black;
  display: block;
}
